html, body {
    background: #000000;
    color: #ffffff;
	font-family: Oswald, 'Open Sans';
    height: 100%;
	margin: 0;
    scroll-behavior: smooth;
    text-align: center;
    overflow-x: hidden;
}

ul, li {
    list-style: none;
}

h2 {
    font-size: 32px;
    margin-bottom: 22px;
}

h3 {
    font-weight: 400;
}

h4 {
    font-weight: 500;
}

p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    margin: 22px auto;
    width: 80%;
}

a {
    color: #cccccc;
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
    text-decoration: none;

    &:hover {
        color: #eeeeee;
    }
}

img {
    margin: 0;
    width: 100%;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    &:hover {
        cursor: pointer;
    }
}
hr {
    width: 120px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    position: relative;
    opacity: 0.9;

    .text {
        color: #ffffff;
        font-size: 56px;
        margin: 0;
        position: absolute;
        text-align: center;
        top: calc(50% - 150px);
        width: 100%;

        h1 {
            margin: 0;
        }
    }

    &.first {
        background-image: url(/background/cone-album-cover.jpeg);
        height: 100vh;
    }

    &.second {
        background-image: url(/background/milkboy.jpeg);
    }

    &.third {
        background-image: url(/background/milkboy2.jpeg);
    }

    &.fourth {
        background-image: url(/background/milkboy3.jpeg);
    }
    &.fifth {
        background-image: url(/background/milkboy4.jpeg);
    }
}

.socials {
    padding: 15px 0;

    ul {
        li {
            display: inline-block;
            padding: 0 7.5px;
            img {
                color: #ffffff;
                height: auto;
                width: 50px;

                &:hover {
                    opacity: .5;
                }

                &:last-child {
                    border-radius: 50%;
                    padding: 5px;
                }
            }
        }
    }
}

.images {
    .img-wrap {
        display: inline-block;
        padding: 15px;
    
        img {
            height: auto;       
            width: 230px;
            position: relative;
    
            &:hover {
                -webkit-filter: grayscale(100%);
                -moz-filter: grayscale(100%);
                filter: grayscale(100%);
                transition: all 0.6s ease-in-out;
    
            }
        }
    }
}

header {
    width: 100%;

    nav {
        background-color: #000000;
        height: auto;
        padding: 15px 30px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;

        img {
            height: auto;
            width: 150px;
        }

        ul {
            padding: 0;
            margin: 15px 0;
            width: 100%;

            li {
                display: inline-block;
                padding: 15px 7.5px;

                a {
                    color: #ffffff;
                    text-decoration: 0;

                    &:hover {
                        color: #c3c3c3;
                    }
                }
            }
        }
    }
}

.container {
    margin: 0 auto;
    padding: 60px 15px;

    .row {
        div {
            //width: 50%;
            + div {

            }
        }
    }
}

footer {

    .legal {
        padding: 15px 0;
        background: #333;        
    }

    a {
        font-size: 16px;
    }
}

.no-mobile {
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    header {
        nav {
            ul {
                li {
                    padding: 10px 22px;
                    font-size: 20px;
                }
            }
        }
    }

    .container {
        padding: 90px 60px;

        &.album {
            height: 500px;
        }

        .row {
            margin: 0 -15px;
            div {
                float: right;
                width: 40%;

                + div {
                    float: left;
                }
            }
        }
    }

    .no-mobile {
        display: block;
    }

    .images {
        margin: 0 auto;
        width: 550px;
    }
    

}


@media (min-width: 1200px) {
    header {
        nav {
            background-color: transparent;
            width: auto;

            img {
                float: left;
            }

            ul {
                float: right;
                width: auto;

                li {
                    padding: 0 15px;
                }
            }
        }
    }



    .container {
        padding: 90px 120px;

        .row {
            margin: 0
        }
    }

    .no-mobile {
        display: block;
    }

    #about {
        &.container {
            padding: 90px 15px;
        }
    }
}

// Override
.bit-logo-mobile {
    display: block !important;
}
.bit-play-my-city-button, .bit-logo-desktop, .bit-top-track-button {
    display: none !important;
}

.bit-rsvp-container, .bit-single-cta {
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    &:hover {
        opacity: .5;
    }
}

.bit-offers.bit-button {
    color: #000000 !important;
    background: #ffffff !important;
}

.bit-widget .bit-venue {
    text-align: left !important;
}